$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$font-sans: 'Open Sans', sans-serif;
$font-serif: 'Noto Serif', serif;

$color-text-dark: #2e2e2c;

// $color-bg-yellow: #F5CF87; // f4b459;
// $color-bg-blue: #324d5b; //2b414d;
// $color-bg-green: #76C2AF;
// $color-bg-grey: #e5e5e5;

$color-blue: #25a5d1;
$color-blue-dark: #2393bb;
$color-ocean: #012539;
$color-yellow: #efc75d;
$color-yellow-dark: #f3b359;
$color-orange: #e37947;
$color-green: #3db39d;
$color-green-dark: #339785;
$color-white: #FFFFFF;
$color-grey: #858585;
$color-grey-dark: #666;
$color-red: #e1574b;
$color-red-dark: #bf392b;

@import 'compass/css3';

@import 'sass-bootstrap/lib/variables';
@import 'sass-bootstrap/lib/mixins';
@import 'sass-bootstrap/lib/normalize';
@import 'sass-bootstrap/lib/grid';
@import 'sass-bootstrap/lib/responsive-utilities';
@import 'sass-bootstrap/lib/forms';
@import 'sass-bootstrap/lib/buttons';
@import 'sass-bootstrap/lib/input-groups';

@import 'sass-flex-mixin/flex';

/*
#E44424 orange
#67BCDB blue
#A2AB58 green
#FFFFFF white
*/

@mixin breakpoint($size) {
  @media (min-width: $size) { @content; }
}

html * {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: $color-text-dark;
  font-family: $font-sans;
}

.form-control, .btn {
  @include border-radius(0);
}

div,
header,
footer,
section,
article,
figure,
input,
label,
blockquote,
ul,
li,
.btn {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.page-header {
  width: 100%;
}

.center {
  text-align: center;
}

// BASE TYPE

h1, h2, h3, h4, p {
  margin: 0;
  line-height: 1.3em;
}

h1 {
  padding: 0.25em 0;
  font-weight: 400;
}

h2 {
  padding: 0.1em 0;
}

h3 {
  padding: 0.4em 0;
}

h2 {
  font-weight: 300;
}

p {
  font-size: 0.9em;
}


a {
  color: #26a6d1;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #2394bc;
}

figure, figcaption {
  text-align: center;
}

figcaption {
  margin: 1em;
}

.top-offset {
  margin-top: .5em;
}

.grey-text {
  color: $color-grey-dark;
}

.emph {
  display: inline-block;
  background-color: $color-orange;
}

// END BASE TYPE


// MODULES

// MODULE EVENT
.event {
  padding-top: 1em;
  padding-bottom: 1em;
  background: $color-white;

  &.event-upcoming {
    border-bottom: 10px solid $color-text-dark;

    .event-date-month {
      color: $color-red;
    }
  }

  &.event-past {
    color: $color-grey;
    border-bottom: 10px solid $color-grey;
  }
}

.event-date {
  text-align: center;
}

.event-date-day {
  font-size: 2em;
  line-height: 1em;
}

.event-talks {
  list-style: square;
}

// END MODULE EVENT


// END MODULES


// MODIFIERS
.bg-grey {
  background-color: #e5e5e5;
}

.bg-blue {
  background: $color-blue;
  color: $color-white;
}

.bg-ocean {
  background: $color-ocean;
  color: $color-white;
}

.bg-azlk {
  background: url("../images/azlk.jpg") no-repeat center center fixed;
  @include background-size('cover');
}

.bg-green {
  background: $color-green;
}

.bg-yellow {
  background: $color-yellow;
  color: $color-white;
}

.bg-orange {
  background: $color-orange;
  color: $color-white;
}

.bg-hoverable:hover {
  background: url("../images/back-stripes-grey.png") repeat scroll 0 0 #fff;
  cursor: pointer;
}

.frame-pad {
  padding: 1.5em;
}

// END MODIFIERS


// Grid
/*
.section-container {
  @include make-row();
  margin: 0 auto;
  width: 100%;
}

.section-one-third {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(4);
}

.event {
  @include make-row();

  .event-date {
    @include make-xs-column(3);
  }

  .event-description {
    @include make-xs-column(9);
  }
}
*/

.section-container {
  @include flexbox;
  width: 100%;

  @include flex-flow(column);

  .section-single-width,
  .section-double-width {
    width: auto;
    @include order(0);
  }

  @include breakpoint($screen-tablet) {
    @include flex-flow(row wrap);

    .section-single-width {
      @include flex(1 0 15em);
    }

    .section-double-width {
      @include flex(2 0 20em);
    }
  }
}

.event {
  @include flexbox;
  @include flex-direction(row nowrap);
}

.event-date {
  margin-right: 3em;
  @include flex(1);
}

.event-description {
  @include flex(3);
}

// MAIN NAV

.main-nav {
  background-color: rgba($color-white, 0.2);
}

.nav-content {
  @include flexbox;
  @include flex-flow(row);
  @include justify-content(space-around);
}

.nav-item {
  display: block;
  color: $color-grey-dark;
  padding: 1em;
}

.nav-item:hover {
  color: $color-grey;
}

// END MAIN NAV

// End Grid
