<form class="form-horizontal" name="regForm" novalidate>
  <div class="form-group">
    <label class="control-label col-sm-2">Имя&nbsp;<span class="required">*</span></label>
    <div class="col-sm-3" ng-class="regForm.firstName.$dirty && (regForm.firstName.$error.required && 'has-error' || 'has-success')">
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Имя"
        ng-model="appl.name.first"
        required
      />
    </div>
    <div class="col-sm-3" ng-class="regForm.lastName.$dirty && (regForm.lastName.$error.required && 'has-error' || 'has-success')">
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="Фамилия"
        ng-model="appl.name.last"
        required
      />
    </div>
  </div>
  <div class="form-group" ng-class="regForm.email.$dirty && ((regForm.email.$error.email || regForm.email.$error.required) && 'has-error' || 'has-success')">
    <label for="email" class="control-label col-sm-2">E-mail&nbsp;<span class="required">*</span></label>
    <div class="col-sm-6">
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Адрес электронной почты для связи"
        ng-model="appl.email"
        required
      />
    <span class="help-block">
        <span ng-show="regForm.email.$error.email">Неверный адрес электронной почты</span>
    </span>
    </div>
    
  </div>
  <div class="form-group" ng-init="appl.type = 'conferee'">
    <div class="col-sm-offset-2 col-sm-6">
      <div class="radio">
        <label>
          <input
            type="radio"
            name="type"
            id="type-conferee"
            value="conferee"
            ng-model="appl.type"
            checked
          />
          Участник
        </label>
      </div>
      <div class="radio">
        <label>
          <input
            type="radio"
            name="type"
            id="type-speaker"
            value="speaker"
            ng-model="appl.type"
          />
          Докладчик
        </label>
      </div>
    </div>
  </div>
  <div ng-if="appl.type == 'speaker'">
    <div class="form-group">
      <label for="phone" class="control-label col-sm-2">Телефон</label>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="Ваш телефон для связи"
          ng-model="appl.phone"
        />
      </div>
    </div>
    <div class="form-group" ng-class="regForm.speechTitle.$dirty && (regForm.speechTitle.$error.required && 'has-error' || 'has-success')">
      <label for="speechTitle" class="control-label col-sm-2">Название доклада&nbsp;<span class="required">*</span></label>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="speechTitle"
          name="speechTitle"
          placeholder="Полное название доклада"
          ng-model="appl.speech.title"
          required
        />
      </div>
    </div>
    <div class="form-group" ng-class="regForm.speechDescription.$dirty && (regForm.speechDescription.$error.required && 'has-error' || 'has-success')">
      <label for="speechDescription" class="control-label col-sm-2">Описание доклада&nbsp;<span class="required">*</span></label>
      <div class="col-sm-6">
        <textarea
          class="form-control"
          id="speechDescription"
          name="speechDescription"
          placeholder="Подробное описание доклада"
          ng-model="appl.speech.description"
          rows="5"
          required
        ></textarea>
      </div>
    </div>
    <div class="form-group" ng-init="appl.speech.duration = 3">
      <label for="speechDuration" class="control-label col-sm-2">Примерное чистое время доклада (без времени на вопросы)</label>
      <div class="col-sm-6">
        <select
          class="form-control"
          id="speechDuration"
          name="speechDuration"
          ng-model="appl.speech.duration"
        >
          <option value="1">1:00</option>
          <option value="1.5">1:30</option>
          <option value="2">2:00</option>
          <option value="2.5">2:30</option>
          <option value="3" selected>3:00</option>
          <option value="3.5">3:30</option>
          <option value="4">4:00</option>
          <option value="4.5">4:30</option>
          <option value="5">5:00</option>
          <option value="5.5">5:30</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment" class="control-label col-sm-2">Комментарий</label>
    <div class="col-sm-6">
      <textarea
        type="email"
        class="form-control"
        id="comment"
        name="comment"
        placeholder="Комментарий к заявке"
        ng-model="appl.comment"
        rows="5"
      ></textarea>
    </div>
  </div>
  <div class="col-sm-offset-2">
    <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Отправить заявку</button>
  </div>
</form>
